<div class="section hero">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <header>
                    <nav>
                        <ul class="main-nav">
                            <li>
                                <a href="#" class="logo">
                                    <object type="image/svg+xml" data="assets/alamoLogo.svg" class="logo"></object>
                                </a>
                            </li>
                            <li><a href="#">Join</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">External Link</a></li>
                        </ul>
                    </nav>
                    <div class="hr"></div>
                </header>
            </div>
        </div>
    </div>
</div>