<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Drafthouse</title>
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/9bace5fe-c1bb-4047-901a-f12c32dad14c.css"/>
        <!-- *Web Font Reference* -->
        <!-- `font-family:'Futura W01';` -->    
    </head>
    <body>
        {{> header}}
        {{{body}}}
        <script src="./index.js"></script>
    </body>
</html>